@font-face {
    font-family: 'Shnobel';
    src: url(./src/fonts/Shnobel-Regular.otf);
    font-weight: 400;
}

body {
    background-color: #10132F;
    color: #fff;
    font-family: 'Bellota Text', cursive;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80.75rem;
}

.header__icon {
    width: 14.25rem;
    height: 3rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.header__nav__items {
    width: 32.438rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

.header__buttons {
    display: flex;
}

.header__log_in {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.header__log_in__btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: 'Bellota Text', cursive;
}

.header__sign_in {
    border: 2px solid #2F80EC;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    font-family: 'Bellota Text', cursive;
    padding: 0.9rem 2rem;
}

.main__p1 {
    font-family: 'Shnobel', sans-serif;
    font-size: 1.4rem;
    margin-top: 0;
}

.main__info {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 80.75rem;
    background-image: url('./src/images/Group\ 37160.png');
    background-repeat: no-repeat;
    background-position: bottom -3.125rem right -4.555rem;
}

.main__text {
    margin-top: 14rem;
    width: 37.5rem;
    flex-basis: 37rem;
    margin-bottom: 20rem;
}

.main__h2 {
    font-family: 'Bellota Text', cursive;
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 3.75rem;
    margin-top: 0;
}

.main__to_know {
    margin-top: 1rem;
    padding: 1.1rem 3.5rem;
    background-color: #2F80EC;
    color: #fff;
    border-radius: 0.5rem;
}

/* .main__img {
    margin-top: 6rem;

    margin-left: -9rem;
    padding-right: 4rem;
    position: relative;
    flex-basis: calc(100% - 31.875rem);
}

.main__img_parents {
    width: 100%;
    margin-top: 6rem;
    margin-left: -9rem;
    padding-right: 4rem;
}

.main__img_stars {
    position: absolute;
    width: 90%;
    left: -5rem;
    top: 1.5rem;
} */

.sleep__normalize {
    margin: -1rem auto 0 auto;
    max-width: 80.75rem;
    display: flex;
    justify-content: space-between;
}

.sleep__p {
    font-family: 'Shnobel', sans-serif;
    font-size: 1.4rem;
}

.sleep__h2 {
    font-family: 'Bellota Text', cursive;
    font-weight: 700;
    font-size: 2.9rem;
    margin-top: 0;
}

.sleep__img_and_p {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 4.5rem;
    margin-top: -2rem;
}

.instruction {
    margin: 3.4rem auto 3rem auto;
    max-width: 106.25rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.instruction__item {
    padding: 1rem 6.5rem 2rem 2rem;
    background-color: #191B2D;
    border-radius: 0.5rem;
}

.instruction__h3 {
    font-family: 'Bellota Text', cursive;
    font-size: 2rem;
    font-weight: 700;
}